<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>

<div ng-app="app" ng-controller="costCtrl">
  数量：<input type="number" ng-model="quantity">
  单价：<input type="number" ng-model="price">
  <p>总价= {{ quantity * price | currency }}</p>
</div>
<script>
  var app = angular.module('app', []);
  app.controller('costCtrl', function($scope) {
    $scope.quantity = 2;
    $scope.price = 3;
  })
</script>

</body>
</html>
